body {
  background-color: #AC7D43;

}


.header {
  background-color: #aa8096;
  color: #ca9bb4;
  min-height: 10vh;
}

.schrute-farms {
  max-height: 20vh;
}


.plot-col {
  margin-top: 3em;

}

.plot-img {
  border-radius: 5%;
}

.plot-row {
  min-height: 50vh;
}


.footer-row {
  background-color: #aa8096;
  color: #36413B;
  min-height: 30vh;
}


.btn {
  min-width: 300px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  outline: #36413B;
  color: #ca9bb4;
  background-color: #6b2f4b;
  border: 2px solid #36413B;
  border-radius: 10px;
  box-shadow: 0 9px #474b56;
}


.btn:active {
  background-color: #9CAA88;
  transform: translateY(4px);
}

.icon {
  width: 70px;
  height: 50px;
}

.beet-icon {
  width: 60px;
  height: 60px;
}


.mose-icon {
  max-width: 50px;
    cursor: grab;
    transition: all .5s ease;
    user-select: none;
}

.dwight-icon {
  max-width: 80px;
    cursor: grab;
    transition: all .5s ease;
    user-select: none;
}

marquee {
  min-height: 60vh;
  display: block;
  width: 100%;
}

.speech-bubble {
  background-image: url('/assets/images/speech-bubble.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50%;
}

.dwight-cut-out {
  max-width: 200px;
  align-self: flex-end;
}