body {
  background-color: #9CAA88;

}

.title-font {
  font-family: 'Syne Tactile', cursive;
}


.header {
  background-color: #36413B;
  color: #9CAA88;
  min-height: 10vh;
}


.plot-col {
  margin: 1em;

}

.plot-img {
  max-height: 60vh;
}


.footer-row {
  background-color: #36413B;
  color: #9CAA88;
  padding: 2em;
}


.btn {
  max-width: 300px;
  display: inline-block;
  padding: 20px;
  text-align: center;
  outline: #9CAA88;
  color: #9CAA88;
  background-color: #36413B;
  border: 2px solid #9CAA88;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.btn:hover {background-color: #36413B}

.btn:active {
  background-color: #9CAA88;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.icon {
  width: 70px;
  height: 50px;
}

.selectable:hover::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 244, 244, 0.514);
  opacity: 1;
}

.mose-img {
  max-width: 50px;
    cursor: grab;
    transition: all .5s ease;
    user-select: none;
}

marquee {
  min-height: 60vh;
  display: block;
  width: 100%;
}